/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-spacer {
	display: none;
}

.wp-block-create-block-hero-section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.wp-hero-section-text-container {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.wp-hero-section-profile-image {
	width: 500px;
	height: 500px;
	object-fit: cover;
	position: relative;

	img {
		max-width: 100%;
		width: 1005;
		height: 100%;
		border-radius: 50%;
		object-fit: cover;
	}
}

@media (max-width: 1025px) {
	.wp-hero-section-profile-image {
		width: 400px;
		height: 400px;
	}
}

@media (max-width: 768px) {
	.wp-block-create-block-hero-section {
		flex-direction: column;
	}

	.wp-hero-section-text-container {
		text-align: center;
		width: 100%;
	}

	.wp-hero-section-profile-image {
		width: 300px;
		height: 300px;
	}
}

@media (max-width: 481px) {
	.wp-hero-section-profile-image {
		width: 200px;
		height: 200px;
	}
}
